*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    height: 100vh;
    background-color: #b9b8d1;
}
.card_container{
    background-color: #ddddeb;
    max-width: 300px;
    /* margin-top: 70px; */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}
.card{
    background-color: #ddddeb;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
}
.card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
}
.card span{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
span .brand{
    text-align: left;
}

.card_02_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    padding-bottom: 10px;
    flex-direction: row;
}

.card_button{
    border-top: 1px solid #569c9c;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-direction: row;
}

.card_button button{
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #fefafa;
    cursor: pointer;
    border: 1px solid #d5d9d9;
    font-weight: bolder;
}

.card_button button:hover{
    background-color: #1f1f1f;
    color: #fff;
}

.product-options{
    display: flex;
    justify-content: left;
    align-items: left;
    margin: 5px;
    gap: 20px;
    flex-direction: row;
}

.product-options .remove {
    width: 30px;
    padding: 5px;
    border: none;
    border-radius: 100%;
    background-color: #fefafa;
    cursor: pointer;
    border: 1px solid #d5d9d9;
    font-weight: 800;
    text-align: center;
}

.product-options .remove:hover{
    background-color: #1f1f1f;
    color: #fff;
}

.product-options .add {
    width: 30px;
    padding: 5px;
    border: none;
    border-radius: 100%;
    background-color: #fefafa;
    cursor: pointer;
    border: 1px solid #d5d9d9;
    font-weight: 800;
    text-align: center;
}

.product-options .add:hover{
    background-color: #1f1f1f;
    color: #fff;
}

input{
    text-align: center;
    border-radius: 5px;
    border: 1px solid #90c6c6;
    /* padding: 5px; */
}

h3{
    display: flex;
    justify-content: left;
    margin-left: 18px;
    font-weight: 100;
}